= javascript_include_tag :ip_address_collections

%dl
  %dt
    %label
      Items
    %dd
      %div.as_content
        %table
          %tr
            %td.items-column_heading{ :colspan => '5'} Rare
            %td.items-column_heading{ :colspan => '5'} Set
            %td.items-column_heading{ :colspan => '5'} Legendary
          %tr
            %td.items-column_heading < 60
            %td.items-column_heading 60
            %td.items-column_heading 61
            %td.items-column_heading 62
            %td.items-column_heading 63
            %td.items-column_heading < 60
            %td.items-column_heading 60
            %td.items-column_heading 61
            %td.items-column_heading 62
            %td.items-column_heading 63
            %td.items-column_heading < 60
            %td.items-column_heading 60
            %td.items-column_heading 61
            %td.items-column_heading 62
            %td.items-column_heading 63
          %tr#itemLevel
            %td
              %input{ :id => 'rare-less-60', :size => 2, :min => 0}
            %td
              %input{ :id => 'rare-60', :size => 2, :min => 0}
            %td
              %input{ :id => 'rare-61', :size => 2, :min => 0}
            %td
              %input{ :id => 'rare-62', :size => 2, :min => 0}
            %td
              %input{ :id => 'rare-63', :size => 2, :min => 0}
            %td
              %input{ :id => 'set-less-60', :size => 2, :min => 0}
            %td
              %input{ :id => 'set-60', :size => 2, :min => 0}
            %td
              %input{ :id => 'set-61', :size => 2, :min => 0}
            %td
              %input{ :id => 'set-62', :size => 2, :min => 0}
            %td
              %input{ :id => 'set-63', :size => 2, :min => 0}
            %td
              %input{ :id => 'legendary-less-60', :size => 2, :min => 0}
            %td
              %input{ :id => 'legendary-60', :size => 2, :min => 0}
            %td
              %input{ :id => 'legendary-61', :size => 2, :min => 0}
            %td
              %input{ :id => 'legendary-62', :size => 2, :min => 0}
            %td
              %input{ :id => 'legendary-63', :size => 2, :min => 0}